.dp-calendar {
  display: flex;
  flex-direction: column;
  text-align: center;

  .daynames {
    display: flex;
    color: var(--dp-text-secondary);
    font-weight: 400;
    margin-bottom: .25rem;

    div {
      line-height: 2rem;
      width: 2rem;
    }
  }

  .unit.disabled {
    opacity: .3;
    cursor: default;
  }

  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 2px;

    .unit:not(.disabled):hover {
      border-color: var(--dp-primary);
    }

    .day {
      width: 2rem;

      &:not(.selected):hover {
        border-radius: var(--dp-border-radius);
      }
    }

    .month-alt {
      color: var(--dp-text-secondary);
    }

    .in-range {
      background-color: var(--dp-primary-alt);
    }

    .first, .last {
      background-color: var(--dp-primary);
      color: #fff;
    }

    .first {
      border-top-left-radius: var(--dp-border-radius);
      border-bottom-left-radius: var(--dp-border-radius);
    }

    .last {
      border-top-right-radius: var(--dp-border-radius);
      border-bottom-right-radius: var(--dp-border-radius);
    }

    .selected:nth-child(7n) {
      border-top-right-radius: var(--dp-border-radius);
      border-bottom-right-radius: var(--dp-border-radius);
    }

    .selected:nth-child(7n + 1) {
      border-top-left-radius: var(--dp-border-radius);
      border-bottom-left-radius: var(--dp-border-radius);
    }
  }
}
