:root {
  --dp-primary: #007bff;
  --dp-primary-alt: #cfe2ff;
  --dp-bg-color: #fff;
  --dp-border-radius: 4px;
  --dp-text: #000;
  --dp-text-secondary: #0000008a;
}

.dp-popup {
  position: absolute;
  z-index: 10;
  box-shadow: 0 0 25px rgba(0, 0, 0, .3);
  border-radius: var(--dp-border-radius);
}

.dp-container-wrapper {
  background: var(--dp-bg-color);
  text-align: center;
  white-space: nowrap;
  padding: 1rem;
  user-select: none;
}

.dp-container {
  display: flex;
  gap: 1rem;

  .dp-calendar-wrapper {
    position: relative;

    & > .calendars {
      display: flex;
      gap: .5rem;
    }
  }

  .unit {
    border: 1px solid transparent;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    line-height: 2rem;
    min-width: 2rem;
    flex-shrink: 0;

    &.current {
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        border: solid transparent;
        border-width: 0 0 7px 7px;
        border-bottom-color: var(--dp-primary);
        border-top-color: var(--dp-primary);
        position: absolute;
        bottom: 3px;
        right: 3px;
      }
    }
  }

  .head {
    display: flex;
    padding-bottom: 2px;
    gap: .25rem;

    .title {
      flex-grow: 1;
      border-radius: var(--dp-border-radius);

      &:hover {
        color: var(--dp-primary);
      }
    }

    .empty {
      width: 32px;
    }

    .prev, .next {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 477.175 477.175' style='enable-background:new 0 0 477.175 477.175;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225 c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 12px 12px;
      border-radius: var(--dp-border-radius);
      &:hover {
        border-color: var(--dp-primary);
      }
    }

    .next {
      transform: rotate(180deg);
    }
  }
}