.dp-navigation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dp-bg-color);
  z-index: 2;
  display: flex;
  gap: 1rem;
  text-align: center;

  .dp-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2px;
    margin-top: 1rem;

    .unit {
      line-height: 3rem;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: var(--dp-border-radius);

      &:hover {
        border-color: var(--dp-primary);
      }
    }
  }
}