.dp-ranges-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;

  .range {
    line-height: 34px;
    cursor: pointer;
    padding: 0 .5rem;
    border-radius: var(--dp-border-radius);

    &:not(.selected):hover {
      color: var(--dp-primary)
    }

    &.selected {
      background-color: var(--dp-primary);
      color: #fff;
    }
  }
}